<div class="modal" id="input-form" ng-show="opened">
	<div class="modal-dialog" style="width: 1000px">
		<div class="modal-content">
			<form class="form-inline" role="form" ng-submit="submit()">
				<div class="modal-header">
					<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-headphones"></span>
						<span class="edit-type" ng-bind="editType"></span>
						Signal Report
						<small>
							<span class="backup" ng-show="inputBackup">Backup exists {{ inputBackup.date | date: 'yyyy-MM-dd HH:mm' }} <a ng-click="restoreBackup()">Restore</a></span>
						</small>
						<input type="button" class="btn btn-danger btn-xs" id="delete" value="{{ 'delete' | loc }}" ng-click="deleteReport()" ng-hide="isNew"/>

						<span class="" ng-show="formChanged">
							{{ 'unsaved' | loc }}
						</span>
						<span class="" ng-show="savingBackup">
							{{ 'backuping' | loc }}
						</span>
					</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-2">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">
									Band
								</span>
								<input type="text" size="12" name="band" class="form-control input-sm" value="" placeholder="" required ng-model="report.band" sr-typeahead-band/>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">
									Freq.
								</span>
								<input type="text" size="12" name="freq" class="form-control" value="" placeholder="Frequency" ng-model="report.freq"/>
								<span class="input-group-addon">
									MHz
								</span>
							</div>
						</div>
						<div class="col-xs-2">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">
									Mode
								</span>
								<input type="text" size="5" name="mode" class="form-control input-sm" value="" required ng-model="report.mode" sr-typeahead-mode sr-force-uppercase/>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">
									Rig
								</span>
								<input type="text" size="3" name="my_rig_intl" class="form-control input-sm" value="" ng-model="report.my_rig_intl" sr-typeahead-history="my_rig_intl"/>
							</div>
						</div>
						<div class="col-xs-2">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">
									Power
								</span>
								<input type="text" size="3" name="tx_pwr" class="form-control input-sm" value="" ng-model="report.tx_pwr"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2">
							<div class="input-group input-group-sm">
								<div class="input-group-btn" dropdown>
									<button type="button" class="btn btn-default dropdown-toggle">Call <span class="caret"></span></button>
									<ul class="dropdown-menu" role="menu">
										<li><a href ng-click="openBrowser('http://qrz.com/db/' + report.call)" dropdown-toggle>QRZ.COM</a></li>
										<li><a href ng-click="openBrowser('http://google.com/search?q=' + report.call)" dropdown-toggle>Search by Google</a></li>
									</ul>
								</div><!-- /btn-group -->
								<input type="text" size="10" name="call" class="form-control input-sm" required ng-model="report.call" sr-typeahead-callsign sr-force-uppercase/>
							</div>
						</div>
						<div class="col-xs-2">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">
									UR RST
								</span>
								<input type="text" size="3" name="rst_sent" class="form-control input-sm" value="" placeholder="" required ng-model="report.rst_sent"/>
								<span class="rst-container">
									<div class="rst-dropdown dropdown-menu">
										<table>
											<tr class="readability">
												<th>Readability</th>
												<td></td>
											</tr>
											<tr class="strength">
												<th>Strength</th>
												<td></td>
											</tr>
											<tr class="tone">
												<th>Tone</th>
												<td></td>
											</tr>
										</table>
									</div>
								</span>
							</div>
						</div>
						<div class="col-xs-2">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">
									MY RST
								</span>
								<input type="text" size="3" name="rst_rcvd" class="form-control input-sm" value="" placeholder="" required ng-model="report.rst_rcvd"/>
								<span class="rst-container">
									<div class="rst-dropdown dropdown-menu">
										<table>
											<tr class="readability">
												<th>Readability</th>
												<td></td>
											</tr>
											<tr class="strength">
												<th>Strength</th>
												<td></td>
											</tr>
											<tr class="tone">
												<th>Tone</th>
												<td></td>
											</tr>
										</table>
									</div>
								</span>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">
									Date
								</span>
								<input type="date" name="qso_date" class="form-control input-sm" value="" required ng-model="report.qso_date" tabindex="-1"/>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">
									Time
								</span>
								<input type="time" name="time_on" class="form-control input-sm" value="" step="1" required ng-model="report.time_on" tabindex="-1"/>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="setDateTime()" id="now" style="width:100%">Now</button>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">
									Name
								</span>
								<input type="text" size="10" name="name_intl" class="form-control input-sm" ng-model="report.name_intl"/>
							</div>
						</div>
						<div class="col-xs-8">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">
									QTH
								</span>
								<input type="text" size="10" name="qth_intl" class="form-control input-sm" ng-model="report.qth_intl" sr-complete-jcc/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">
									Notes
								</span>
								<div>
									<textarea name="notes_intl" class="form-control" style="display: block; width: 100%; height: 10em" ng-model="report.notes_intl" sr-complete-jcc></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-9">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">
									My Location
								</span>
								<div>
									<input type="text" size="10" name="my_city_intl" class="form-control input-sm" ng-model="report.my_city_intl" sr-typeahead-history="my_city_intl"/>
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">
									DE
								</span>
								<div>
									<input type="text" size="10" name="station_callsign" class="form-control input-sm" ng-model="report.station_callsign" sr-force-uppercase sr-typeahead-history="station_callsign"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="hidden" name="id" value=""/>
					<input type="submit" class="btn btn-primary" value="{{ 'save' | loc }}"/>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
