<div id='setting' class="modal" tabindex="-1" ng-show="show">
	<div class="modal-dialog" style="width: 1000px">
		<form>
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="close()">&times;</button>
					<h4 class="modal-title">
						{{ 'setting' | loc }}
					</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<table class="table">
								<tr>
									<th colspan="2">{{ 'data' | loc }}</th>
								</tr>
								<tr>
									<th>{{ 'import' | loc }}</th>
									<td>
										<p>{{ 'import_desc' | loc }}</p>
										<button class="btn btn-primary" ng-click="importFile()">{{ 'import' | loc }}</button>
									</td>
								</tr>
								<tr>
									<th>{{ 'export' | loc }}</th>
									<td>
										<p>{{ 'export_desc' | loc }}</p>
										<button class="btn btn-primary" ng-click="exportFile()">{{ 'export' | loc }}</button>
									</td>
								</tr>
								<tr>
									<th>{{ 'reset' | loc }}</th>
									<td>
										<p>{{ 'reset_desc' | loc }}</p>
										<button class="btn btn-danger" ng-click="allReset()">{{ 'reset' | loc }}</button>
									</td>
								</tr>
							</table>
						</div>
						<div class="col-md-6">
							<table class="table table-condensed">
								<tr>
									<th>{{ 'backup' | loc }}</th>
									<td>
										<button class="btn btn-primary" ng-click="setupBackup()" ng-show="!$parent.backupEnabled">{{ 'setupBackup' | loc }}</button> <br/>
										<button class="btn btn-primary" ng-click="disableBackup()" ng-show="$parent.backupEnabled">{{ 'disableBackup' | loc }}</button> <br/>
										{{ 'lastBackuped' | loc: ($parent.lastBackuped  | date : 'yyyy-MM-dd HH:mm') }}
									</td>
								</tr>
								<tr>
									<th>{{ 'sync' | loc }}</th>
									<td>
										<button class="btn btn-primary" ng-click="syncNow()">{{ 'syncNow' | loc }}</button> <br/>
										{{ 'lastSynced' | loc: (lastSynced  | date : 'yyyy-MM-dd HH:mm') }}
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="cancel()">{{ 'cancel' | loc }}</button>
					<button type="button" class="btn btn-primary" ng-click="ok()">{{ 'ok' | loc }}</button>
				</div>
			</div>
		</form>
	</div>
	<style scoped>
		.modal {
			display: block !important;
		}

		.modal.ng-hide {
			display: none !important;
		}
	</style>
</div>
